ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    background: black;
}
.active{
    color:yellow;
}